# Use an opt-in strategy
*

# Add build props
!Directory.Build.props

# Add global json
!global.json

# Add local tools config
!/.config/
!/.config/*.json

# Add paket targets
!/.paket/
!/.paket/Paket.Restore.targets

# Add dependencies file
!paket.dependencies
!paket.lock
!paket.references
!paket.template

!package.json
!package-lock.json

!webpack.config.js
!vite.config.js
!vite.config.mts
!index.html

# Add solution file
!*.sln

# Add fsharp project files
!*.fsproj

# Add configurarion files
!App.config

# Add fsharp source files
!*.fs

# Add source files
!/src/

# Add data folders
!/data/
!/data/cache/
!/data/cache/*.demo
!/data/zindex/

# Informedica.Utils.Lib
!/src/Informedica.Utils.Lib/
!/src/Informedica.Utils.Lib/BCL/
# Informedica.Agents.Lib
!/src/Informedica.Agents.Lib/
!/src/Informedica.Agents.Lib/BCL/
# Informedica.NLP.Lib
!/src/Informedica.NLP.Lib/
# Informedica.OTS.Lib
!/src/Informedica.OTS.Lib/
# Informedica.GenCORE.Lib
!/src/Informedica.GenCORE.Lib/
# Informedica.Logging.Lib
!/src/Informedica.Logging.Lib/
# Informedica.GenUNITS.Lib
!/src/Informedica.GenUNITS.Lib/
# Informedica.GenSOLVER.Lib
!/src/Informedica.GenSOLVER.Lib/
# Informedica.ZIndex.Lib
!/src/Informedica.ZIndex.Lib/
# Informedica.ZForm.Lib
!/src/Informedica.ZForm.Lib/
# Informedica.NKF.Lib
!/src/Informedica.NKF.Lib/
# Informedica.FTK.Lib
!/src/Informedica.FTK.Lib/
# Informedica.GenFORM.Lib
!/src/Informedica.GenFORM.Lib/
# Informedica.GenORDER.Lib
!/src/Informedica.GenORDER.Lib/
# Informedica.MCP.Lib
!/src/Informedica.MCP.Lib/
# Informedica.FHIR.Lib
!/src/Informedica.FHIR.Lib/
# Informedica.DataPlatform.Lib
!/src/Informedica.DataPlatform.Lib/
# Informedica.HIXConnect.Lib
!/src/Informedica.HIXConnect.Lib/
# Informedica.GenPRES.Shared
!/src/Informedica.GenPRES.Shared/
# Informedica.GenPRES.Server
!/src/Informedica.GenPRES.Server/
!/src/Informedica.GenPRES.Server/data
!/src/Informedica.GenPRES.Server/data/cache
!/src/Informedica.GenPRES.Server/data/cache/*.demo
# Informedica.GenPRES.Client
!/src/Informedica.GenPRES.Client/
!/src/Informedica.GenPRES.Client/public/
!/src/Informedica.GenPRES.Client/public/*
!/src/Informedica.GenPRES.Client/Utils/
!/src/Informedica.GenPRES.Client/Domain/
!/src/Informedica.GenPRES.Client/Components/
!/src/Informedica.GenPRES.Client/Views/
!/src/Informedica.GenPRES.Client/Pages/

