source https://api.nuget.org/v3/index.json
framework: 9.0
storage: none

nuget FSharpPlus 1.7.0

nuget Fable.Core ~> 4
nuget Fable.Remoting.Client ~> 7
nuget Fable.Remoting.Giraffe ~> 5
nuget Fable.Browser.DOM
nuget Fable.Elmish ~> 5
nuget Fable.Elmish.React ~> 5
nuget Fable.Elmish.Debugger ~> 4
nuget Fable.Elmish.HMR ~> 8
nuget Fable.React.UseElmish
nuget Fable.Mocha ~> 2
nuget Fable.SimpleHttp

nuget Feliz.UseElmish
nuget Feliz ~> 2
nuget Feliz.Markdown
nuget Feliz.Router
nuget NJsonSchema 11.5.1

nuget Saturn ~> 0

nuget Fake.Core.Target 6.1.3
nuget Fake.IO.FileSystem 6.1.3

nuget FSharp.Data
nuget HtmlAgilityPack 1.12.3
nuget FParsec
nuget FsToolkit.ErrorHandling 5.1.0
nuget MathNet.Numerics.FSharp
nuget Microsoft.Net.Test.Sdk 18.0.0
nuget Validus
nuget YoloDev.Expecto.TestSdk 0.15.5
nuget Markdig 0.42.0
nuget Aether
nuget ClosedXML = 0.97
nuget ConsoleTables
nuget IcedTasks 0.11.9

nuget Unquote
nuget Expecto ~> 10
nuget Expecto.FsCheck

