source https://api.nuget.org/v3/index.json

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.Hopac

nuget Fable.SimpleHttp
nuget Feliz.Markdown
nuget Feliz.Router
nuget FSharp.Core

nuget Fake.Core.Target

nuget Fable.Browser.DOM 2.4.4
nuget Fable.Core 3.2.7
nuget Fable.Fetch 2.3.1
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR 4.1
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client

nuget Feliz
nuget Feliz.MaterialUI
nuget Feliz.UseElmish
nuget Fable.MaterialUI.Icons
nuget Fable.MaterialUI.MaterialDesignIcons

nuget Saturn 0.15.0-preview03 prerelease