name: Build master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4.2.2
    - name: Use .NET Core 9.0 SDK
      uses: actions/setup-dotnet@v4.1.0
      with:
        dotnet-version: '9.0.x'

    - name: Tool restore
      run: dotnet tool restore

    - name: Format check
      run: dotnet fantomas --check .

    - name: Test execution
      env:
        CI: true
        GENPRES_DEBUG: 1
      run: dotnet run ServerTests
